*.obj
*.tlog
*.opensd
*.pdb
*.idb
*.manifest
*.manifest.rc
*.log
*.pch
*.ipch
*.cache
AcornDLL/Debug/*
AcornDLL/Release/*
AcornDLL/x64/*
AmstradDLL/Debug/*
AmstradDLL/Release/*
AmstradDLL/x64/*
AmigaDLL/Debug/*
AmigaDLL/Release/*
AmigaDLL/x64/*
CBMDLL/Debug/*
CBMDLL/Release/*
CBMDLL/x64/*
SinclairDLL/Debug/*
SinclairDLL/Release/*
SinclairDLL/x64/*
NUTS/Debug/*
NUTS/Release/*
NUTS/x64/*
TZXConfig/Debug/*
TZXConfig/Release/*
TZXConfig/x64/*
zlib-1.2.3/projects/visualc6/*Debug
zlib-1.2.3/projects/visualc6/*Release
libarchive-3.4.3/libarchive/archive_static.dir/
libarchive-3.4.3/libarchive/Debug
SetupProject1/bin/*
SetupProject1/obj/*

